
#login{
	width: 120px;
	float: right;
}

#entrar {		
	
 	width: 180px;
 	height: 30px;
 	float: right;
 	align-items: center; 
	
}


#cadastrologin{
	
	 height: 30px;
	 background-color: #FFDAB9;
	
}


#btncadastro{
	
	margin-top: 4px;
	 background-color: #FFE4B5;
	  border: 1px solid #7e1515;
}




